<?php $conf= G('conf');?>
<html lang="<?php echo $conf['lang'];?>">
<head>
	<?php $header = G('header');?>
	<?php $user = G('user');?>
	<?php $menu = G('menu');?>
	<?php $forumlist_show = G('forumlist_show');?>
	<?php $route = G('route');?>
	<?php $conf = G('conf');?>
	<?php $static_version = $conf['static_version'];?>

	<!--{hook admin_header_meta_before.htm}-->
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="XiunoBBS 4.0" />
	<meta name="keywords" content="<?php echo strip_tags($header['keywords']);?>" />
	<meta name="description" content="<?php echo strip_tags($header['description']);?>" />
	<meta name="renderer" content="webkit" />
	<meta name="csrf-token" content="<?php echo $header['csrf_token']; ?>">
	<title><?php echo $header['title'];?></title>
	
	<link rel="shortcut icon" href="../view/img/favicon.ico" />
	<link rel="icon" sizes="32x32" href="../view/img/favicon.ico">
	<link rel="Bookmark" href="../view/img/favicon.ico" />
	
	<!--{hook admin_header_bootstrap_before.htm}-->
	<link href="../view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../view/css/theme.css<?php echo $static_version;?>">
	<!--{hook admin_header_bootstrap_after.htm}-->

	<!--{hook admin_header_bootstrap_bbs_before.htm}-->
	<!--{hook admin_header_bootstrap_bbs_after.htm}-->

	<!--{hook admin_header_admin_css_before.htm}-->
	<link rel="stylesheet" href="view/css/admin.css<?php echo $static_version;?>">
	<!--{hook admin_header_admin_css_after.htm}-->

	<link rel="stylesheet" href="../view/vendor/tabler-icons/tabler-icons.min.css">

	<!--{hook admin_header_css_after.htm}-->

	<script>
	(function(){
		var theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
		var themeColor = localStorage.getItem('theme-color') || 'blue';
		document.documentElement.setAttribute('data-bs-theme', theme);
		document.documentElement.setAttribute('data-theme', themeColor);
	})();
	</script>
</head>

<body>

	<!--{hook admin_header_body_start.htm}-->
	
	<div class="admin-wrapper" id="adminWrapper">
		<?php include _include(ADMIN_PATH.'view/htm/sidebar.inc.htm');?>
		<div class="admin-main">
			<?php include _include(ADMIN_PATH.'view/htm/header_nav.inc.htm');?>
			<div class="admin-content">
	
		<!--{hook admin_body_start.htm}-->
