<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_index_login_start.htm}-->

<div class="mx-auto" style="max-width:28rem">
	<div class="x-card card">
		<div class="card-body">
			<h4 class="card-title justify-content-center"><i class="ti ti-lock"></i> <?php echo lang('admin_login');?></h4>
			<form action="<?php echo url('index-login');?>" method="post" id="form">
				<?php echo CsrfService::input(); ?>
				<div class="mb-3 fs-6"><?php echo lang('for_safe_input_password_again');?>：</div>
				<div class="mb-3">
					<div class="input-group">
						<span class="input-group-text"><i class="ti ti-lock text-secondary"></i></span>
						<input type="password" class="form-control" placeholder="<?php echo lang('password');?>" id="password" name="password" />
					</div>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('login');?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--{hook admin_index_login_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
var jemail = $('#email');
var jpassword = $('#password').focus();
jform.on('submit', function() {
	jform.reset();
	jsubmit.button('loading');
	var postdata = jform.serializeObject();
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			showToast(message, 'success');
			jsubmit.button(message).delay(1000).location('./');
		} else if(code == 'email') {
			jemail.alert(message).focus();
			jsubmit.button('reset');
		} else if(code == 'password') {
			jpassword.alert(message).focus();
			jsubmit.button('reset');
		} else {
			showToast(message, 'error');
			jsubmit.button('reset');
		}
	});
	return false;
});

</script>

<!--{hook admin_index_login_js.htm}-->
