<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_message_start.htm}-->

<div class="mx-auto" style="max-width:42rem">
	<div class="x-card card">
		<div class="card-body">
			<div class="alert <?php echo $code == 0 ? 'alert-success' : 'alert-warning';?>">
				<i class="ti ti-<?php echo $code == 0 ? 'circle-check' : 'alert-triangle';?> fs-3"></i>
				<span class="fw-bold fs-5"><?php echo $message;?></span>

				<!--{hook admin_message_message_after.htm}-->
			</div>
		</div>
	</div>
</div>

<!--{hook admin_message_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<!--{hook admin_message_js.htm}-->
