<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<div class="mb-3">
	<?php echo admin_tab_active($menu['plugin']['tab'], $tab);?>
</div>

<div class="x-card card">
	<div class="card-body">
		<div class="d-flex gap-4 mb-4">
			<div class="flex-shrink-0">
				<img src="<?php echo $plugin['icon_url']; ?>" width="54" height="54" class="rounded-1" />
			</div>
			<div>
				<h4 class="fw-bold"><?php echo $plugin['name']; ?> v<?php echo $plugin['version']; ?></h4>
				<p class="fs-6 text-body-secondary"><?php echo $plugin['brief']; ?></p>
			</div>
		</div>
		<hr>
		<div class="row g-2 fs-6">
			<div class="col-md-6">
				<span class="text-secondary"><?php echo lang('plugin_dir');?></span>：
				<?php echo $dir; ?>
			</div>
			<div class="col-md-6">
				<span class="text-secondary"><?php echo lang('plugin_bbs_version');?></span>：
				<?php echo $plugin['bbs_version']; ?>
			</div>
		</div>
		<hr>

		<?php if($errmsg) { ?>
		<div class="alert alert-info">
			<i class="ti ti-info-circle"></i>
			<?php echo $errmsg; ?>
		</div>
		<?php } ?>

		<p class="text-center">
			<?php if($plugin['setting_url']) { ?>
			<a class="admin-quick-link setting" href="<?php echo admin_plugin_setting_url($dir); ?>"><?php echo lang('setting');?></a>
			<?php } ?>

			<?php if($islocal && !$plugin['installed']) { ?>
			<a class="admin-quick-link install" href="<?php echo admin_plugin_install_url($dir); ?>"><?php echo lang('install');?></a>
			<?php } ?>

			<?php if($plugin['installed'] && $plugin['enable']) { ?>
			<a class="admin-quick-link disable" href="<?php echo admin_plugin_disable_url($dir); ?>"><?php echo lang('disable');?></a>
			<?php } ?>

			<?php if($plugin['installed'] && !$plugin['enable']) { ?>
			<a class="admin-quick-link enable" href="<?php echo admin_plugin_enable_url($dir); ?>"><?php echo lang('enable');?></a>
			<?php } ?>

			<?php if($plugin['installed']) { ?>
			<a class="admin-quick-link text-danger unstall confirm" data-method="post" data-confirm-text="<?php echo lang('plugin_unstall_confirm_tips', array('name'=>$plugin['name']));?>" href="<?php echo admin_plugin_unstall_url($dir); ?>"><?php echo lang('unstall');?></a>
			<?php } ?>

		</p>
	</div>
</div>

<p class="mt-3 text-center">
	<a role="button" class="admin-quick-link" href="javascript:history.back();" style="width: 210px;"><?php echo lang('back');?></a>
</p>

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>
