<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_setting_base_start.htm}-->

<div class=" ">
	<?php echo admin_tab_active($menu['setting']['tab'], 'base');?>
</div>

<div class="x-card  card">
	<div class="card-body">
		<form action="<?php echo admin_setting_url('base');?>" method="post" id="form">
			<?php echo CsrfService::input(); ?>

			<!--{hook admin_setting_sitename_before.htm}-->

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('sitename');?></label>
				<?php echo $input['sitename'];?>
			</div>

			<!--{hook admin_setting_sitename_after.htm}-->

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('sitebrief');?></label>
				<?php echo $input['sitebrief'];?>
				<p class="mt-2 fs-6 text-body-secondary"><?php echo lang('sitebrief_tips');?></p>
			</div>

			<!--{hook admin_setting_sitebrief_after.htm}-->

			<!--{hook admin_setting_announcement_after.htm}-->

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('runlevel');?></label>
		 
				<br>
				<?php echo $input['runlevel'];?>
			</div>

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('user_create_on');?></label>
				<br>
				<?php echo $input['user_create_on'];?>
			</div>

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('user_create_email_on');?></label>
				<br>
				<?php echo $input['user_create_email_on'];?>
			</div>

			<div class="mb-4">
				<label class="form-label fw-medium"><?php echo lang('user_resetpw_on');?></label>
				<br>
				<?php echo $input['user_resetpw_on'];?>
			</div>

			<!--{hook admin_setting_runlevel_after.htm}-->

		<div class="mb-4">
			<label class="form-label fw-medium"><?php echo lang('force_https');?></label>
			<br>
			<?php echo $input['force_https'];?>
			<p class="mt-2 fs-6 text-body-secondary"><?php echo lang('force_https_tips');?></p>
		</div>

		<div class="mb-4">
			<label class="form-label fw-medium"><?php echo lang('lang');?></label>
			<br>
			<?php echo $input['lang'];?>
		</div>

			<!--{hook admin_setting_base_lang_after.htm}-->

			<div class="mb-4">
				<button type="submit" class="btn btn-primary  w-10" id="submit" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('confirm');?></button>
			</div>
		</form>
	</div>
</div>

<!--{hook admin_setting_base_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
jform.on('submit', function() {
	setBtnLoading(jsubmit, true);
	var postdata = jform.serialize();
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			showToast(message, 'success');
			setTimeout(function(){ window.location.reload(); }, 1000);
		} else if(xn.is_number(code)) {
			showToast(message, 'error');
			setBtnLoading(jsubmit, false);
		} else {
			jform.find('[name="'+code+'"]').fieldError(message).focus();
			setBtnLoading(jsubmit, false);
		}
	});
	return false;
});

</script>

<!--{hook admin_setting_base_js.htm}-->
