<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_user_create_start.htm}-->

<div class=" " style="max-width:48rem">
	<div class="mb-3">
		<?php echo admin_tab_active($menu['user']['tab'], 'create');?>
	</div>
	<div class="x-card card">
		<div class="card-body">
			<form action="<?php echo admin_user_create_url();?>" method="post" id="form">
				<?php echo CsrfService::input(); ?>
				<div class="d-flex gap-4 align-items-center mb-3">
					<label class="form-label" style="width:25%"><?php echo lang('email');?>：</label>
					<div style="width:75%">
						<?php echo $input['email'];?>
					</div>
				</div>
				<div class="d-flex gap-4 align-items-center mb-3">
					<label class="form-label" style="width:25%"><?php echo lang('username');?>：</label>
					<div style="width:75%">
						<?php echo $input['username'];?>
					</div>
				</div>
				<div class="d-flex gap-4 align-items-center mb-3">
					<label class="form-label" style="width:25%"><?php echo lang('password');?>：</label>
					<div style="width:75%">
						<?php echo $input['password'];?>
					</div>
				</div>
				<div class="d-flex gap-4 align-items-center mb-3">
					<label class="form-label" style="width:25%"><?php echo lang('user_group');?>：</label>
					<div style="width:75%">
						<?php echo $input['_gid'];?>
					</div>
				</div>
				<div class="d-flex gap-4 align-items-center mb-3">
					<label class="form-label" style="width:25%"></label>
					<div style="width:75%">
						<button type="submit" class="btn btn-primary w-100" id="submit" data-loading-text="<?php echo lang('submiting');?>..."><?php echo lang('confirm');?></button>
						<a class="admin-back-link d-block mt-3" href="javascript:history.back();"><i class="ti ti-arrow-left"></i> <?php echo lang('admin_back');?></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--{hook admin_user_create_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>


<script>
var jform = $('#form');
var jsubmit = $('#submit');
jform.on('submit', function() {
	jform.reset();
	setBtnLoading(jsubmit, true);
	var postdata = jform.serialize();
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			showToast(message, 'success');
			jsubmit.text(message).delay(1000).location(xn.url('user-list'));
		} else if(xn.is_number(code)) {
			showToast(message, 'error');
			setBtnLoading(jsubmit, false);
		} else {
			jform.find('[name="'+code+'"]').alert(message).focus();
			setBtnLoading(jsubmit, false);
		}
	});
	return false;
});

</script>

<!--{hook admin_user_create_js.htm}-->
