<?php $step = 1; include INSTALL_PATH.'view/htm/header.inc.htm';?>


<form action="index.php" method="post" id="form">

<div class="row justify-content-center mt-3">
	<div class="col-lg-12">
		<div class="x-card  cardrounded-3">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<div class="row align-items-center mb-3">
					<label class="col-sm-5 text-end">Choose Language (选择语言)：</label>
					<div class="col-sm-5">
						<?php echo $input['lang'];?>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center m-3">
			<button type="submit" class="btn btn-primary " id="submit" data-loading-text="Loading...">Next (下一步)</button>
		</div>
	</div>
</div>

</form>

<?php include INSTALL_PATH.'view/htm/footer.inc.htm';?>
