<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><?php echo lang('browser_tip');?> / Information</title>
</head>
<body>
<div class="browser-main">
	<a class="browser-pos1" href="http://bbs.xiuno.com/browser-download-chrome.htm" target="_blank"><?php echo lang('download_chrome');?></a>
	<a class="browser-pos2" href="http://bbs.xiuno.com/browser-download-firefox.htm" target="_blank"><?php echo lang('download_firefox');?></a>
	<a class="browser-pos3" href="http://bbs.xiuno.com/browser-download-ie.htm" target="_blank"><?php echo lang('download_ie');?></a>
</div>
<br>
<p style="font-size: 12px; text-align: center; color: #888888;"><?php echo lang('your_browser_info');?>：<script>document.write(navigator.userAgent);</script></p>
</body>
</html>