<?php $db = G('db');?>
<?php $starttime = G('starttime');?>
<?php $time = G('time');?>
<?php $ip = G('ip');?>
<?php $useragent = G('useragent');?>
<?php $forumlist = G('forumlist');?>
<?php $forumarr = G('forumarr');?>
<?php $fid = G('fid');?>
<?php $conf = G('conf');?>
<?php $static_version = $conf['static_version'];?>
				
			<!--{hook footer_start.htm}-->
		
			<?php  echo xn_debug_info(); ?>
	
		</div>
	</main>

	<!-- 公告Toast容器 -->
	<div class="position-fixed bottom-0 end-0 p-3" style="z-index:1090" id="announcement-toast-container">
	</div>
	
	<!--{hook footer_nav_before.htm}-->
	
	<?php include _include(APP_PATH.'view/htm/footer_nav.inc.htm');?>
	<?php include _include(APP_PATH.'view/htm/bottom_nav.inc.htm');?>
	
	<!--{hook footer_nav_after.htm}-->
	
	<!--[if ltg IE 9]>
	<script>window.location = '<?php echo url('browser');?>';</script>
	<![endif]-->
	
	<!--{hook footer_js_before.htm}-->
	
	<script src="lang/<?php echo $conf['lang'];?>/bbs.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/jquery-3.7.1.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="<?php echo $conf['view_url'];?>js/xiuno.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/xiuno-modern.js<?php echo $static_version;?>"></script>
	<script>
	var debug = DEBUG = <?php echo DEBUG; ?>;
	var url_rewrite_on = <?php echo $conf['url_rewrite_on'];?>;
	var forumarr = <?php echo xn_json_encode($forumarr);?>;
	var fid = <?php echo $fid;?>;
	var uid = <?php echo intval($uid);?>;
	var gid = <?php echo intval($gid);?>;
	xn.options.water_image_url = '<?php echo $conf['logo_water_url'];?>';
	// 语言字符串（供 bbs.js 使用）
	var bbs_lang = {
		captcha_sent: '<?php echo lang('captcha_sent');?>',
		send_failed: '<?php echo lang('send_failed');?>',
		deleted: '<?php echo lang('deleted');?>',
		delete_failed: '<?php echo lang('delete_failed');?>',
		please_select_thread: '<?php echo lang('please_select_thread');?>',
		load_failed: '<?php echo lang('load_failed');?>',
		operate_successfully: '<?php echo lang('operate_successfully');?>',
		operation_failed: '<?php echo lang('operation_failed');?>',
		network_request_failed: '<?php echo lang('network_request_failed');?>',
		all_marked_as_read: '<?php echo lang('all_marked_as_read');?>',
		no_notify: '<?php echo lang('no_notify');?>'
	};
	// 通知相关 URL
	var bbs_notify_urls = {
		unread_count: '<?php echo url("my-notify_unread_count");?>',
		dropdown: '<?php echo url("my-notify_dropdown");?>',
		mark_all_read: '<?php echo url("my-notify_mark_read");?>',
		notice_mark_read: '<?php echo url("notice-mark_read");?>',
		notify_read_base: '<?php echo str_replace(".htm", "", url("my-notify_read"));?>'
	};
	// 公告接口 URL
	var bbs_notice_announcements_url = '<?php echo url("notice-announcements");?>';
	</script>
	<script src="<?php echo $conf['view_url'];?>js/bbs.js<?php echo $static_version;?>"></script>
	<!--{hook footer_js_after.htm}-->

</body>
<!--{hook footer_body_after.htm}-->
</html>
<!--{hook footer_end.htm}-->

<?php echo cron_run();?>
