<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>



<!--{hook forum_start.htm}-->

<div class="row g-4" hx-boost="true" hx-target="#body" hx-swap="innerHTML" hx-select="#body" hx-push-url="true">
	<div class="d-none d-lg-block col-lg-2 col-xl-2">
		<?php include _include(APP_PATH.'view/htm/sidebar_left.inc.htm');?>
	</div>
	<div class="col-lg-10 col-xl-7 main" style="min-width:0">


		<div class="index-threadlist">
			<div class="x-card card py-1">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<ul class="nav thread-nav-tabs" role="tablist">
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'lastpid' || $orderby == 'tid' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'lastpid'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'lastpid'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('latest_tab');?></a></li>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'hot' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'hot'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'hot'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('hottest_tab');?></a></li>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'digest' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'digest'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'digest'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('digest');?></a></li>
					<?php if(!empty($uid)) { ?>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'follow' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'follow'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'follow'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('follow_tab');?></a></li>
					<?php } ?>
					<!--{hook forum_thread_list_nav_item_after.htm}-->
				</ul>
				<?php if($orderby == 'lastpid' || $orderby == 'tid') { ?>
				<div class="btn-group btn-group-sm" role="group">
					<a class="btn btn-outline-secondary<?php echo $orderby == 'lastpid' ? ' active' : '';?>" href="<?php echo url("forum-$fid", array('orderby' => 'lastpid'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'lastpid'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('latest_reply');?></a>
					<a class="btn btn-outline-secondary<?php echo $orderby == 'tid' ? ' active' : '';?>" href="<?php echo url("forum-$fid", array('orderby' => 'tid'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'tid'));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('new_thread');?></a>
				</div>
				<?php } ?>
				</div>
			</div>
			<div>
			<!--{hook forum_threadlist_before.htm}-->
			<?php include _include(APP_PATH.'view/htm/thread_top_list.inc.htm');?>
			<ul class="list-none threadlist x-card card mb-0">
				<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
			</ul>
			<!--{hook forum_threadlist_after.htm}-->
			<?php include _include(APP_PATH.'view/htm/thread_list_mod.inc.htm'); ?>
		</div>
		</div>

		<!--{hook forum_page_before.htm}-->
		<?php include _include(APP_PATH.'view/htm/pagination.inc.htm');?>
		<!--{hook forum_page_after.htm}-->
	</div>
	<div class="d-none d-xl-block col-xl-3 aside">
		<div class="x-card card card-forum-info   mb-3">
			<div class="card-body">
				<div class="d-flex align-items-center gap-3">
					<?php if(!empty($forum['icon_url'])): ?>
					<span class="flex-shrink-0"><img src="<?php echo $forum['icon_url'];?>" class="rounded" width="32" height="32" alt="<?php echo esc_html($forum['name']);?>" /></span>
					<?php elseif(!empty($forum['icon_class'])): ?>
					<span class="flex-shrink-0" style="font-size:2rem"><i class="<?php echo $forum['icon_class'];?>"></i></span>
					<?php else: ?>
					<span class="flex-shrink-0 text-body-secondary" style="font-size:2rem"><i class="ti ti-message-circle"></i></span>
					<?php endif; ?>
					<div class="flex-fill" style="min-width:0">
						<h6 class="fw-bold mb-0"><?php echo esc_html($forum['name']);?></h6>
					</div>
					<span id="forum-follow-btn"
					hx-get="<?php echo url('forum-follow_status-'.$fid);?>"
					hx-trigger="load"
					hx-target="#forum-follow-btn"
					hx-swap="innerHTML">
					<button class="btn btn-sm btn-primary rounded-pill flex-shrink-0" disabled>
						<i class="ti me-1 ti-heart"></i>
						<span><?php echo lang('follow');?></span>
					</button>
				</span>
				</div>
			</div>
			<?php if(!empty($forum['brief'])): ?>
			<!-- 版块简介独立区块 -->
			<div class="card-body py-2">
				<div class="bg-body-tertiary rounded-1 p-1 small text-body-secondary">
					<?php echo esc_html($forum['brief']);?>
				</div>
			</div>
			<?php endif; ?>
			<div class="card-body p-2">
				<div class="d-flex small text-center">
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('threads_label');?></span><b><?php echo $forum['threads'];?></b></div>
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('today_replies');?></span><b><?php echo $forum['todayposts'];?></b></div>
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('members');?></span><b><a href="<?php echo url("forum-followers-$fid");?>" class="text-decoration-none" id="forum-follows-count"><?php echo $forum['follows'];?></a></b></div>
				</div>
			</div>
			<div class="px-3 pb-3">
				<a role="button" class="btn btn-primary w-100" href="<?php echo url('thread-create-'.$fid);?>" hx-boost="false"><i class="ti ti-pencil me-1"></i> <?php echo lang('thread_create_new');?></a>
			</div>
		</div>

		<!--{hook forum_mod_before.htm}-->
		<?php if($forum['announcement'] || $forum['modlist']) { ?>
		<div class="x-card card card-mod-info   mb-3">
			<div class="card-body">
				<?php if($forum['announcement']) { ?>
				<h3 class="card-title small"><i class="ti ti-speakerphone me-1"></i><?php echo lang('forum_anouncement');?></h3>
				<div class="alert alert-info border-0 rounded-1 small mb-0">
					<?php echo $forum['announcement'];?>
				</div>
				<?php  } ?>

				<?php if($forum['modlist']) { ?>
				<h3 class="card-title small"><i class="ti ti-users me-1"></i><?php echo lang('forum_moderator');?></h3>
				<div class="d-flex flex-wrap gap-2">
					<?php foreach ($forum['modlist'] as $mod) { ?>
					<div class="text-center">
						<a href="<?php echo url("user-$mod[uid]");?>">
							<img src="<?php echo !empty($mod['avatar_url']) ? $mod['avatar_url'] : $conf['view_url'].'img/avatar.png';?>" class="rounded-circle" width="32" height="32" alt="<?php echo esc_html(!empty($mod['display_name']) ? $mod['display_name'] : $mod['username']);?>" onerror="this.onerror=null;this.src='<?php echo $conf['view_url']; ?>img/avatar.png'">
						</a><br>
						<a href="<?php echo url("user-$mod[uid]");?>" class="small text-body-secondary text-nowrap text-decoration-none"><?php echo esc_html(!empty($mod['display_name']) ? $mod['display_name'] : $mod['username']);?></a>
					</div>
					<?php } ?>
				</div>
				<?php  } ?>
			</div>
		</div>
		<?php  } ?>
		<!--{hook forum_mod_after.htm}-->

	</div>
</div>


<!--{hook forum_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script>
$('li[data-active="fid-<?php echo $fid;?>"]').addClass('active');
</script>

<!--{hook forum_js.htm}-->
