<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>



<!--{hook forum_start.htm}-->

<div class="row g-4" hx-boost="true" hx-target="#body" hx-swap="innerHTML" hx-select="#body" hx-push-url="true">
	<div class="d-none d-lg-block col-lg-2">
		<?php include _include(APP_PATH.'view/htm/sidebar_left.inc.htm');?>
	</div>
	<div class="col-lg-7 main" style="min-width:0">


		<div class="index-threadlist">
			<div class="x-card card py-1">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<ul class="nav thread-nav-tabs" role="tablist">
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'lastpid' || $orderby == 'tid' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'lastpid'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'lastpid', 'view' => $view_mode));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('latest_tab');?></a></li>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'hot' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'hot'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'hot', 'view' => $view_mode));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('hottest_tab');?></a></li>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'digest' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'digest'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'digest', 'view' => $view_mode));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('digest');?></a></li>
					<?php if(!empty($uid)) { ?>
					<li class="nav-item"><a class="nav-link<?php echo $orderby == 'follow' ? ' active' : '';?>" role="tab" href="<?php echo url("forum-$fid", array('orderby' => 'follow'));?>" hx-get="<?php echo url("forum-$fid", array('orderby' => 'follow', 'view' => $view_mode));?>" hx-target="#body" hx-select="#body" hx-swap="innerHTML" hx-push-url="true"><?php echo lang('follow_tab');?></a></li>
					<?php } ?>
					<!--{hook forum_thread_list_nav_item_after.htm}-->
				</ul>
					<?php $toggle_url = url("forum-$fid-$page", array('orderby' => $orderby) + ($extra ?? array())); ?>
					<?php include _include(APP_PATH.'view/htm/view_toggle.inc.htm');?>
				</div>
			</div>
			<div>
				<!--{hook forum_threadlist_before.htm}-->
				<?php if ($view_mode == 'list') { ?>
				<ul class="list-none threadlist x-card card mb-0">
					<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
				</ul>
				<?php } elseif ($view_mode == 'timeline') { ?>
				<div class="timeline-feed">
					<?php include _include(APP_PATH.'view/htm/thread_list_timeline.inc.htm');?>
				</div>
				<?php } else { ?>
				<div class="masonry-container">
					<?php include _include(APP_PATH.'view/htm/thread_list_masonry.inc.htm');?>
				</div>
				<?php } ?>
				<!--{hook forum_threadlist_after.htm}-->
				<?php if($view_mode == 'list') { include _include(APP_PATH.'view/htm/thread_list_mod.inc.htm'); } ?>
			</div>
		</div>

		<!--{hook forum_page_before.htm}-->
		<?php include _include(APP_PATH.'view/htm/pagination.inc.htm');?>
		<!--{hook forum_page_after.htm}-->
	</div>
	<div class="d-none d-lg-block col-lg-3 aside">
		<div class="x-card card card-forum-info rounded-1 mb-3">
			<div class="card-body">
				<div class="d-flex align-items-center gap-3">
					<?php if(!empty($forum['icon_url'])): ?>
					<span class="flex-shrink-0"><img src="<?php echo $forum['icon_url'];?>" class="rounded" width="32" height="32" alt="<?php echo esc_html($forum['name']);?>" /></span>
					<?php elseif(!empty($forum['icon_class'])): ?>
					<span class="flex-shrink-0" style="font-size:2rem"><i class="<?php echo $forum['icon_class'];?>"></i></span>
					<?php else: ?>
					<span class="flex-shrink-0 text-body-secondary" style="font-size:2rem"><i class="ti ti-message-circle"></i></span>
					<?php endif; ?>
					<div class="flex-fill" style="min-width:0">
						<h6 class="fw-bold mb-0"><?php echo esc_html($forum['name']);?></h6>
						<?php if(!empty($forum['brief'])): ?>
						<p class="text-body-secondary small mb-0 mt-1 text-truncate"><?php echo $forum['brief'];?></p>
						<?php endif; ?>
					</div>
					<span id="forum-follow-btn"
					hx-get="<?php echo url('forum-follow_status-'.$fid);?>"
					hx-trigger="load"
					hx-target="#forum-follow-btn"
					hx-swap="innerHTML">
					<button class="btn btn-sm btn-primary rounded-pill flex-shrink-0" disabled>
						<i class="ti me-1 ti-heart"></i>
						<span><?php echo lang('follow');?></span>
					</button>
				</span>
				</div>
			</div>
			<div class="card-body p-2">
				<div class="d-flex small text-center">
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('threads_label');?></span><b><?php echo $forum['threads'];?></b></div>
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('today_replies');?></span><b><?php echo $forum['todayposts'];?></b></div>
					<div class="flex-fill py-1"><span class="text-body-secondary d-block"><?php echo lang('members');?></span><b><?php echo $forum['follows'];?></b></div>
				</div>
			</div>
			<div class="px-3 pb-3">
				<a role="button" class="btn btn-primary w-100" href="<?php echo url('thread-create-'.$fid);?>" hx-boost="false"><i class="ti ti-pencil me-1"></i> <?php echo lang('thread_create_new');?></a>
			</div>
		</div>

		<!--{hook forum_mod_before.htm}-->
		<?php if($forum['announcement'] || $forum['modlist']) { ?>
		<div class="x-card card card-mod-info rounded-1 mb-3">
			<div class="card-body">
				<?php if($forum['announcement']) { ?>
				<h6 class="fw-semibold"><i class="ti ti-speakerphone me-1"></i><?php echo lang('forum_anouncement');?></h6>
				<div class="alert alert-info border-0 rounded-1 small mb-0">
					<?php echo $forum['announcement'];?>
				</div>
				<?php  } ?>

				<?php if($forum['modlist']) { ?>
				<h6 class="fw-semibold"><?php echo lang('forum_moderator');?>：</h6>
				<div class="d-flex flex-wrap gap-2">
					<?php foreach ($forum['modlist'] as $mod) { ?>
					<div class="text-center">
						<a href="#"><img src="<?php echo $conf['view_url'];?>img/avatar.png" class="avatar-sm" alt="" onerror="this.src='/view/img/avatar.png'"></a><br>
						<a href="<?php echo url("user-$mod[uid]");?>" class="small text-body-secondary text-nowrap text-decoration-none"><?php echo esc_html($mod['username']);?></a>
					</div>
					<?php } ?>
				</div>
				<?php  } ?>
			</div>
		</div>
		<?php  } ?>
		<!--{hook forum_mod_after.htm}-->
	</div>
</div>


<!--{hook forum_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script>
$('li[data-active="fid-<?php echo $fid;?>"]').addClass('active');
</script>

<!--{hook forum_js.htm}-->
