<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<?php include _include(APP_PATH.'view/htm/my.layout.inc.htm');?>

	<!-- 我的收藏 -->
	<div class="x-card card">
		<div class="card-body">
			<ul class="list-unstyled threadlist mb-0">
				<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
			</ul>

			<?php if($pagination) { ?>
			<nav><ul class="pagination pagination-boxed justify-content-end flex-wrap mt-3"><?php echo $pagination;?></ul></nav>
			<?php } ?>
		</div>
	</div>

</div>

<!-- 右侧空栏 -->
<div class="d-none d-xl-block col-xl-3"></div>
</div>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>
