<template include="./view/htm/my_feed.template.htm">
	<slot name="my_body">
		<?php if(!empty($threadlist)) { ?>
		<ul class="list-unstyled threadlist mb-0">
			<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
		</ul>
		<?php } else { ?>
		<div class="text-center text-secondary py-8">
			<?php echo lang('no_feed_tip');?>
		</div>
		<?php } ?>

		<?php if($pagination) { ?>
		<nav><ul class="pagination pagination-boxed justify-content-end flex-wrap"><?php echo $pagination; ?></ul></nav>
		<?php } ?>
	</slot>
</template>

<script>
$('a[data-active="my-feed"]').addClass('active');
</script>
