<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<?php
include_once APP_PATH . 'lib/security/SecurityConfigService.php';
include_once APP_PATH . 'lib/security/CaptchaService.php';
$sec_allow_edit = SecurityConfigService::get('security_allow_edit', 1);
$sec_edit_time_limit = SecurityConfigService::get('security_edit_time_limit', 60);
$sec_allow_delete = SecurityConfigService::get('security_allow_delete', 0);
$sec_delete_time_limit = SecurityConfigService::get('security_delete_time_limit', 0);
$sec_soft_delete = SecurityConfigService::get('security_soft_delete', 1);
$sec_allow_delete_reply = SecurityConfigService::get('security_allow_delete_reply', 0);
// 主帖编辑权限：版主/管理员不受时间限制和安全开关限制
// 被驳回主帖：作者可编辑（不受时限限制），但需检查重提次数
$_is_thread_rejected = isset($thread['audit_status']) && $thread['audit_status'] == 2;
if($_is_thread_rejected && !empty($uid) && $uid == $thread['uid']) {
	$sec_can_edit_thread = (intval($thread['resubmit_count'] ?? 0) < 5);
} else {
	$sec_can_edit_thread = $allowupdate ? TRUE : ($first['allowupdate'] && $sec_allow_edit && ($sec_edit_time_limit == 0 || ($time - $thread['create_date']) < $sec_edit_time_limit * 60));
}
// 主帖删除权限：版主/管理员不受时间限制和安全开关限制
$sec_can_delete_thread = $allowdelete ? TRUE : ($first['allowdelete'] && $sec_allow_delete && ($sec_delete_time_limit <= 0 || ($time - $thread['create_date']) < $sec_delete_time_limit * 60));
?>

<!--{hook thread_start.htm}-->

<?php
$sidebar_left_file = 'thread_left.inc.htm';
$sidebar_right_file = 'thread_right.inc.htm';
$main_file = 'thread_main.inc.htm';
$left_lg = false;
include _include(APP_PATH.'view/htm/layout_three_column.inc.htm');
?>

<!--{hook thread_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<?php include _include(APP_PATH.'view/htm/thread_js.inc.htm');?>
