<template include="./view/htm/user.common.template.htm">
	

	<slot name="user_nav">
		<ul class="nav nav-tabs">
			<!--{hook user_nav_thread_before.htm}-->
			<li class="nav-item"><a class="nav-link active" href="<?php echo user_thread_url($_uid);?>" data-active="user-thread"><?php echo lang('thread');?></a></li>
			<!--{hook user_nav_thread_after.htm}-->
			<li class="nav-item"><a class="nav-link" href="<?php echo user_post_url($_uid);?>" data-active="user-post"><?php echo lang('reply');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_following_url($_uid);?>" data-active="user-following"><?php echo lang('following');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_followers_url($_uid);?>" data-active="user-followers"><?php echo lang('followers');?></a></li>
			<?php if(!empty($uid) && $uid == $_uid) { ?>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_favorite_url($_uid);?>" data-active="user-favorite"><?php echo lang('my_favorite');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_like_url($_uid);?>" data-active="user-like"><?php echo lang('my_like');?></a></li>
			<?php } ?>
			<!--{hook user_nav_end.htm}-->
		</ul>
	</slot>
</template>

<script>
var el = document.querySelector('a[data-active="user-thread"]');
if (el) el.classList.add('active');
</script>
