<template include="./view/htm/user.common.template.htm">
	
	<?php $sec_allow_edit = SecurityConfigService::get('security_allow_edit', 1); ?>

	<slot name="user_nav">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" href="<?php echo user_thread_url($_uid);?>" data-active="user-thread"><?php echo lang('thread');?></a></li>
			<li class="nav-item"><a class="nav-link active" href="<?php echo user_post_url($_uid);?>" data-active="user-post"><?php echo lang('reply');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_following_url($_uid);?>" data-active="user-following"><?php echo lang('following');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_followers_url($_uid);?>" data-active="user-followers"><?php echo lang('followers');?></a></li>
			<?php if(!empty($uid) && $uid == $_uid) { ?>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_favorite_url($_uid);?>" data-active="user-favorite"><?php echo lang('my_favorite');?></a></li>
			<li class="nav-item"><a class="nav-link" href="<?php echo user_like_url($_uid);?>" data-active="user-like"><?php echo lang('my_like');?></a></li>
			<?php } ?>
			<!--{hook user_nav_end.htm}-->
		</ul>
	</slot>

	<slot name="user_body">
		<?php if(!empty($postlist)) { ?>
		<ul class="list-unstyled postlist">
			<?php include _include(APP_PATH.'view/htm/post_list.inc.htm'); ?>
		</ul>
		<?php } else { ?>
		<div class="text-center text-secondary py-12">
			<i class="ti ti-message-dots fs-1 d-block mb-2 text-body-secondary"></i>
			<p class="mb-0"><?php echo lang('no_my_post');?></p>
		</div>
		<?php } ?>

		<?php if($pagination) { ?>
		<nav><ul class="pagination pagination-boxed justify-content-end flex-wrap"><?php echo $pagination; ?></ul></nav>
		<?php } ?>
	</slot>
</template>

<script>
$('a[data-active="user-post"]').addClass('active');
</script>
