<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<div class="mx-auto" style="max-width:28rem">
	<div class="text-center mb-4">
		<img src="<?php echo $conf['logo_mobile_url'];?>" class="site-logo-lg mx-auto mb-2" alt="<?php echo $conf['sitename'];?>">
		<h2 class="fs-4 fw-bold"><?php echo $conf['sitename'];?></h2>
	</div>
	<div class="x-card card">
		<div class="card-body">
			<h3 class="fs-5 fw-bold mb-0"><?php echo lang('user_resetpw');?></h3>
		</div>
		<!--{hook user_create_card_title.htm}-->
		<div class="card-body">
			<form hx-post="<?php echo user_resetpw_complete_url();?>" hx-target="#resetpw-complete-msg" hx-swap="innerHTML" id="form">
				<?php echo CsrfService::input(); ?>
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="ti ti-mail"></i></span>
					<input type="text" class="form-control " placeholder="<?php echo lang('email');?>" name="email" id="email" value="<?php echo $email;?>" disabled>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="ti ti-lock"></i></span>
					<input type="password" class="form-control " placeholder="<?php echo lang('password_new');?>" id="password" name="password">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="ti ti-lock"></i></span>
					<input type="password" class="form-control " placeholder="<?php echo lang('password_new_repeat');?>" id="password2">
				</div>
				<div id="resetpw-complete-msg"></div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary w-100 " id="submit" <?php if(!$conf['user_resetpw_on']) { ?>disabled<?php } ?>><?php echo lang('next_step');?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
	var form = document.getElementById('form');
	var submitBtn = document.getElementById('submit');
	var password = document.getElementById('password');
	var password2 = document.getElementById('password2');
	
	form.addEventListener('htmx:config:request', function(e) {
		var pw = password.value;
		var pw2 = password2.value;
		if(!pw) {
			password.focus();
			showToast('<?php echo lang('please_input_password');?>');
			e.preventDefault();
			return;
		}
		if(pw != pw2) {
			password2.focus();
			showToast('<?php echo lang('repeat_password_incorrect');?>');
			e.preventDefault();
			return;
		}
	});
});
</script>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>
